@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  background: linear-gradient(to bottom, #000, #1B515D, #429497, #74BDCB,#000);
}



#backimg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/imgs/bento1.jpg');
  background-size: cover;
  background-position: bottom;
  filter: blur(10px);
  z-index: -10;
}
